---
import type { Climb } from "../types/data";
import * as echarts from "echarts";

type Props = {
  data: Climb[];
};

const { data }: { data: Climb[] } = Astro.props;

const groupByYear = (data: Climb[]) => {
  const grouped: { [key: string]: Climb[] } = {};
  (data ?? []).forEach((c) => {
    const year = c.sendDate.split("-")[0];
    if (year in grouped) {
      grouped[year].push(c);
    } else {
      grouped[year] = [c];
    }
  });
  return grouped;
};

const groupByGrade = (data: Climb[]) => {
  const grouped: { [key: string]: Climb[] } = {};
  (data ?? []).forEach((c) => {
    if (c.grade in grouped) {
      grouped[c.grade].push(c);
    } else {
      grouped[c.grade] = [c];
    }
  });
  return grouped;
};

const bouldersByYearAndGrade = Object.fromEntries(
  Object.entries(
    groupByYear(data.filter(({ type }) => type === "boulder"))
  ).map(([year, data]) => [year, groupByGrade(data)])
);
const bouldersByGrade = groupByGrade(
  data.filter(({ type }) => type === "boulder")
);
const routesByGrade = groupByGrade(data.filter(({ type }) => type === "sport"));

const _pieChartData: { name: string; value: number }[] = Object.entries(
  bouldersByGrade
).map(([grade, climbs]) => ({
  name: grade,
  value: climbs.length,
}));

const boulderGrades = Object.keys(bouldersByGrade).sort(
  (a, b) => Number(a.replace("V", "")) - Number(b.replace("V", ""))
);
const routeGrades = Object.keys(routesByGrade).sort();

const boulderChart = echarts.init(null, null, {
  renderer: "svg",
  ssr: true,
  width: 800,
  height: 400,
});
const boulderConfig = {
  tooltip: {
    trigger: "axis",
    axisPointer: {
      // Use axis to trigger tooltip
      type: "shadow", // 'shadow' as default; can also be 'line' or 'shadow'
    },
  },
  legend: {},
  yAxis: {
    type: "category",
    data: boulderGrades,
  },
  xAxis: { type: "value" },
  series: Object.keys(bouldersByYearAndGrade).map((year) => ({
    name: year,
    type: "bar",
    stack: "total",
    label: { show: true },
    emphasis: { focus: "series" },
    data: boulderGrades.map(
      (grade) => bouldersByYearAndGrade[year][grade]?.length
    ),
  })),
};
boulderChart.setOption(boulderConfig);
const boulderChartSvg = boulderChart.renderToSVGString();

const routeChart = echarts.init(null, null, {
  renderer: "svg",
  ssr: true,
  width: 800,
  height: 400,
});
const routeConfig = {
  tooltip: {
    trigger: "item",
  },
  yAxis: {
    type: "category",
    data: routeGrades,
  },
  xAxis: { type: "value" },
  series: [
    {
      type: "bar",
      data: routeGrades.map((g) => routesByGrade[g].length),
    },
  ],
};
routeChart.setOption(routeConfig);
const routeChartSvg = routeChart.renderToSVGString();

// TODO: add calendar heatmap
---

<div id="boulderChart"></div>
<div id="routeChart"></div>
<script define:vars={{ boulderChartSvg, routeChartSvg }}>
const boulderChart = document.getElementById("boulderChart");
boulderChart.innerHTML = boulderChartSvg;
const routeChart = document.getElementById("routeChart");
routeChart.innerHTML = routeChartSvg;
</script>
<style>
  #chart {
    height: 400px;
    width: 100%;
  }
</style>
